$background-color:hsl(222,40%,13%);
$light-background: hsl(223,39%,20%);
$font-family: 'Fira Mono', monospace;
$white:#fff;
$light-white: rgba(255,255,255,0.65);
$lighter-white: rgba(255,255,255,0.35);
$light-blue: hsl(211,100%,49%);
$dodgerBlue :hsl(211,100%,49%);
